/* CSS files add styling rules to your content */

@import url(https://fonts.googleapis.com/css?family=Schoolbell&v1);
@import url(https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap);
body {
  /*Stuff that was here before*/
  font-family: "Schoolbell", arial, serif;
  margin: 2em;
  /*font-family: 'Rowdies', cursive;*/

  /*new stuff*/
  /*
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  */
}

h1 {
  /*font-style: italic;*/
  color: #373fff;
}
#countdown {
  font-size: 35px;
  z-index: 30;
  position: absolute;
}
.background {
  z-index: 30;
  position: absolute;
}

/*#startGame {
  z-index: 40;
  position: absolute;
}*/
/*
#opponentName {
  z-index: 30;
  position: absolute;
  text-align: center;
}
#playerName {
  z-index: 30;
  position: absolute;
  text-align: center;
}*/

#printName {
  font-size: 35px;
  z-index: 70;
  position: absolute;
  left: 300px;
  top: 180px;
}
#printOpponentName {
  font-size: 25px;
  z-index: 70;
  position: absolute;
  left: 601px;
  top: 40px;
}

/*#displayLetters {
  z-index: 100;
  font-size:35px;
  position: absolute;
  top: 435px;
  left: 125px;
}*/

#displayLetter1 {
  z-index: 100;
  font-size:35px;
  position: absolute;
  top: 435px;
  left: 155px;
  pointer-events: none;
}
#displayLetter2 {
  z-index: 100;
  font-size:35px;
  position: absolute;
  top: 435px;
  left: 245px;
  pointer-events: none;
}
#displayLetter3 {
  z-index: 100;
  font-size:35px;
  position: absolute;
  top: 435px;
  left: 335px;
  pointer-events: none;
}
#displayLetter4 {
  z-index: 100;
  font-size:35px;
  position: absolute;
  top: 435px;
  left: 425px;
  pointer-events: none;
}
#displayLetter5 {
  z-index: 100;
  font-size:35px;
  position: absolute;
  top: 435px;
  left: 515px;
  pointer-events: none;
}
#displayLetter6 {
  z-index: 100;
  font-size:35px;
  position: absolute;
  top: 435px;
  left: 605px;
  pointer-events: none;
}

#displayLetterUp1 {
  z-index: 103;
  font-size:35px;
  position: absolute;
  top: 345px;
  left: 155px;
  pointer-events: none;
}
#displayLetterUp2 {
  z-index: 103;
  font-size:35px;
  position: absolute;
  top: 345px;
  left: 245px;
  pointer-events: none;
}
#displayLetterUp3 {
  z-index: 103;
  font-size:35px;
  position: absolute;
  top: 345px;
  left: 335px;
  pointer-events: none;
}
#displayLetterUp4 {
  z-index: 103;
  font-size:35px;
  position: absolute;
  top: 345px;
  left: 425px;
  pointer-events: none;
}
#displayLetterUp5 {
  z-index: 103;
  font-size:35px;
  position: absolute;
  top: 345px;
  left: 515px;
  pointer-events: none;
}
#displayLetterUp6 {
  z-index: 103;
  font-size:35px;
  position: absolute;
  top: 345px;
  left: 605px;
  pointer-events: none;
}

/*
#letterDisplayHere{
  z-index: 100;
  position: absolute;
}*/
/*
.path--background {
  fill: rgb(34, 213, 201);
  stroke: #fff;
  stroke-width: 0px;
}
.pulse {
  fill: rgb(255, 74, 74);
}
.path--foreground {
  fill: #eee;
  stroke: #eee;
  stroke-width: 2px;
}
.label {
  font: 90px "Open Sans";
  font-weight: 900;
  text-anchor: middle;
  fill: rgb(34, 213, 201);
}
*/
