@import url(https://fonts.googleapis.com/css?family=Schoolbell&v1);
@import url(https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap);
body {
  font-family: "Schoolbell", arial, serif;
  margin: 2em;
}
h1 {
  color: #373fff;
}
#countdown {
  font-size: 35px;
  z-index: 30;
  position: absolute;
}
.background {
  z-index: 30;
  position: absolute;
}
#printName {
  font-size: 35px;
  z-index: 70;
  position: absolute;
  left: 300px;
  top: 160px;
}
#printOpponentName {
  font-size: 25px;
  z-index: 70;
  position: absolute;
  left: 601px;
  top: 40px;
}
#printScoreRealTime {
  font-size: 25px;
  top: 205px;
  left: 370px;
  z-index: 100;
  position: absolute;
}
#displayLetter1 {
  z-index: 100;
  font-size: 35px;
  position: absolute;
  top: 435px;
  left: 155px;
  pointer-events: none;
}
#displayLetter2 {
  z-index: 100;
  font-size: 35px;
  position: absolute;
  top: 435px;
  left: 245px;
  pointer-events: none;
}
#displayLetter3 {
  z-index: 100;
  font-size: 35px;
  position: absolute;
  top: 435px;
  left: 335px;
  pointer-events: none;
}
#displayLetter4 {
  z-index: 100;
  font-size: 35px;
  position: absolute;
  top: 435px;
  left: 425px;
  pointer-events: none;
}
#displayLetter5 {
  z-index: 100;
  font-size: 35px;
  position: absolute;
  top: 435px;
  left: 515px;
  pointer-events: none;
}
#displayLetter6 {
  z-index: 100;
  font-size: 35px;
  position: absolute;
  top: 435px;
  left: 605px;
  pointer-events: none;
}

#displayLetterUp1 {
  z-index: 103;
  font-size: 35px;
  position: absolute;
  top: 345px;
  left: 155px;
  pointer-events: none;
}
#displayLetterUp2 {
  z-index: 103;
  font-size: 35px;
  position: absolute;
  top: 345px;
  left: 245px;
  pointer-events: none;
}
#displayLetterUp3 {
  z-index: 103;
  font-size: 35px;
  position: absolute;
  top: 345px;
  left: 335px;
  pointer-events: none;
}
#displayLetterUp4 {
  z-index: 103;
  font-size: 35px;
  position: absolute;
  top: 345px;
  left: 425px;
  pointer-events: none;
}
#displayLetterUp5 {
  z-index: 103;
  font-size: 35px;
  position: absolute;
  top: 345px;
  left: 515px;
  pointer-events: none;
}
#displayLetterUp6 {
  z-index: 103;
  font-size: 35px;
  position: absolute;
  top: 345px;
  left: 605px;
  pointer-events: none;
}
#printPlayerScore{
  z-index:103;
  font-size: 39px;
  position: absolute;
    top:550px;
  left:55px;
}
#printOpponentScore{
  z-index:103;
  font-size: 39px;
  position: absolute;
  top:550px;
  left:360px;
}